<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>

	</head>
	<style>
	.centered {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
		color: white;
	}

	.container{
		position: relative;
		text-align: center;
		color: white;

	}
	</style>

	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<section style="margin: 0 15px;color:#425b76;">

				<div class="container">
					<img style="transform: none;"   src="https://fast-mountain-47414.herokuapp.com/static/img/wood.png" alt="">
					<h2 class="centered">Welcome to Pinocchio's</h2>



				</div>

				<div>
					<p>Hi {{username}}, </p>
					<p>Your account has been created and is ready to use!</p>
					<p>Now that everything is set up, why don't you take a look</p>
					<p>at the delicious things in our <a href="https://fast-mountain-47414.herokuapp.com/menu/">menu</a>?</p>
					<br>
					<p>Bon apetit!</p>
					<p>Your friends at Pinocchio's Pizza</p>
				</div




				<!-- <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">-->
				<!--<p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">-->

			</section>
		</div>
	</body>
</html>
