{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>

	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<section style="margin: 0 15px;color:#425b76;">
				<!-- <h2 style="margin: 40px 0 27px 0;text-align: center;">-->
				<img style="transform: none;"   src="{% static 'img/wood.jpg' %}" alt="">
                <h2 style="font-family: 'Poppins', sans-serif; line-height: 1.2em !important;text-align: center !important;">Welcome to Pinocchio's</h2>
				<!--<hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">-->
				<!--<p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">-->
                <p>Hi {{username}}, </p>
                <p>Your account has been created and is ready to use!</p>
								<p>Now that everything is set up, why don't you take a look</p>
								<p>at the delicious things in our <a href="https://fast-mountain-47414.herokuapp.com/menu/">menu</a>?</p>
								<br>
								<p>Bon apetit!</p>
								<p>Your friends at Pinocchio's Pizza</p>
			</section>
		</div>
	</body>
</html>
