{% extends "layout.html" %}

{% block title %}: Register {% endblock %}
{% block body %}

<style>
    /* Auth form styles - shared with login */
    .auth-form-box {
        background-color: white;
        border-radius: 10px;
    }
    .auth-form {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .auth-links {
        padding-bottom: 30px;
    }
    .banner-content {
        margin: auto;
    }

    /* Form element adjustments */
    input {
        width: -moz-available;
    }
    label {
        margin-top: 15px;
    }

    @media only screen and (max-width: 600px) {
        .mx-auto {
            width: 100% !important;
        }
    }
</style>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">

                <!-- REGISTER FORM AREA -->
                <div class='mx-auto w-50 p-0 auth-form-box'>
                    {% if messages %}
                        {% for message in messages %}
                        <div class='generic-blockquote'>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    <form class='auth-form m-5' action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="genric-btn primary circle">Register</button>
                    </form>
                    <div class='text-center m-2 auth-links'>
                        Already have an account? <a href="{% url 'login'%}">Log in</a>!
                    </div>
                </div>
                <!-- END OF REGISTER FORM -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

{% endblock %}
