{% extends "layout.html" %}

{% block title %}: Confirmation {% endblock %}
{% block body %}

{% load static %}

<style>
  .confirm-msg { margin-top: 10%; margin-bottom: 10%; }
  .confirm-img { height: 120px; }
</style>

<section class="top-dish-area section-gap" id="dish">
  <div class="container text-center">
    <div class="row d-flex justify-content-center confirm-msg">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <img src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/final_image/tutorial-preview-large.png" class="confirm-img"/>
          <h1 class="mb-10">Thanks for choosing Pinocchio's Pizza!</h1>
          <p>Your order is confirmed and will be ready for pickup soon</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
