{% extends "layout.html" %}

{% block title %}: Menu {% endblock %}
{% block body %}

{% load staticfiles %}



<section class="top-dish-area section-gap" id="dish">

{% if messages %}
    <div style="display: flex;">
        <div style="flex-grow: 1;"></div>
        <div class='alert'>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <!--{{ messages }}-->
            <p>Item added to <a href="/cart">cart</a></p>
        </div>
    </div>
{% endif %}


    <div class="container" style="text-align:center;">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Take a look at our menu</h1>
                    <p>We have a wide selection of freshly made pizzas and subs</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- START OF THE MENU -->

            <!-- SICILIAN PIZZA -->
            <div class="single-dish" style="width:350px;  margin: 15px auto 15px auto; display:inline-block; cursor:default;">

                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">Sicilian Pizzas</h4>

                <div class="thumb">
                    <img style="transform: none;" src="{% static 'img/sicilian.jpg' %}" class="img-fluid" alt=""/>
                </div>

                <!--table-->
                <div class="progress-table-wrap" style="width: inherit; overflow-x: hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="width: 20%;text-align:left" class="visit">Pizza</div>
                            <div style="text-align:left" class="serial">Small</div>
                            <div style="text-align:left" class="serial">Large</div>
                        </div>
                        <!--body-->
                        {% for SPizza in SicilianPizza %}
                        <div class="table-row">
                            <div style="width: 20%; text-align:left;" class="visit"> {{ SPizza.name }}</div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-pizza" data-toggle="modal" data-target="#pizzaModal" price="{{ SPizza.price_small }}" size="Small" name="{{ SPizza.name }}" itemfamily="Sicilian Pizzas" num="{{ forloop.counter0 }}">
                                    {{ SPizza.price_small }}
                                </button>
                            </div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-pizza" data-toggle="modal" data-target="#pizzaModal" price="{{ SPizza.price_large }}" size="Large" name="{{ SPizza.name }}" itemfamily="Sicilian Pizzas" num="{{ forloop.counter0 }}">
                                    {{ SPizza.price_large }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- REGULAR PIZZA  -->
            <div class="single-dish " style="width:350px; margin: 15px auto 15px auto; display:inline-block;cursor:default;">
                <!--title-->
                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">Regular Pizzas</h4>
                <!--image-->
                <div class="thumb">
                    <img style="transform: none;" class="img-fluid" src="{% static 'img/pizza.jpg' %}" alt=""> <!--src="img/d2.jpg"-->
                </div>

                <!--table-->
                <div class="progress-table-wrap" style="overflow-x:hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="width: 20%;text-align:left;" class="visit">Pizza</div>
                            <div style="text-align:left" class="serial">Small</div>
                            <div style="text-align:left" class="serial">Large</div>
                        </div>
                        <!--body-->
                        {% for Pizza in RegularPizza %}
                        <div class="table-row">
                            <div style="width: 20%; text-align:left" class="visit"> {{ Pizza.name }}</div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-pizza" data-toggle="modal" data-target="#pizzaModal" price="{{ Pizza.price_small }}" size="Small" name="{{ Pizza.name }}" itemfamily="Regular Pizzas" num="{{ forloop.counter0 }}">
                                    {{ Pizza.price_small }}
                                </button>
                            </div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-pizza" data-toggle="modal" data-target="#pizzaModal" price="{{ Pizza.price_large }}" size="Large" name="{{ Pizza.name }}" itemfamily="Regular Pizzas" num="{{ forloop.counter0 }}">
                                    {{ Pizza.price_large }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>

            <!-- PASTA -->
            <div class="single-dish" style="width:350px; margin: 15px auto 15px auto; display:inline-block;cursor:default;">
                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">Pasta</h4>

                <div class="thumb">
                    <img style="transform: none;" class="img-fluid"  src="{% static 'img/ziti.jpg' %}" alt=""> <!-- src="img/d3.jpg" -->
                </div>
                <!--table-->
                <div class="progress-table-wrap" style="overflow-x:hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="width: 20%;text-align:left;" class="visit">Pasta</div>
                            <div style="text-align:left" class="serial"></div>
                            <div style="text-align:left" class="serial">Price</div>
                        </div>
                        <!-- body -->
                        {% for pasta in pastas %}
                        <div class="table-row">
                            <div style="width: 20%;text-align:left;" class="visit"> {{ pasta.name }}</div>

                            <div class="serial"></div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link" data-toggle="modal" data-target="#itemModal" price="{{ pasta.price }}" size="unique" name="{{ pasta.name }}" itemfamily="Pasta" num="{{ forloop.counter0 }}">
                                    {{ pasta.price }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end of pasta -->

            <!-- END OF ROW -->

            <!-- SALADS -->
            <div class="single-dish" style="width:350px; margin: 5px auto 5px auto; display:inline-block;cursor:default;">
                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">Salads</h4>

                <div class="thumb">
                    <img style="transform: none;" class="img-fluid"  src="{% static 'img/salad.jpg' %}" alt=""> <!-- src="img/d3.jpg" -->
                </div>
                <!--table-->
                <div class="progress-table-wrap" style="overflow-x:hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="width: 20%;text-align:left;" class="visit">Salad</div>
                            <div style="text-align:left" class="serial"></div>
                            <div style="text-align:left" class="serial">Price</div>
                        </div>
                        <!-- body -->
                        {% for salad in salads %}
                        <div class="table-row">
                            <div style="width: 20%;text-align:left;" class="visit"> {{ salad.name }}</div>

                            <div class="serial"></div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link" data-toggle="modal" data-target="#itemModal" price="{{ salad.price }}" size="unique" name="{{ salad.name }}" itemfamily="Salad" num="{{ forloop.counter0 }}">
                                    {{ salad.price }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end of salads -->

            <!-- DINNER PLATTERS -->
            <div class="single-dish" style="width:350px; margin: 5px auto 5px auto; display:inline-block;cursor:default;">
                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">dinner platters</h4>

                <div class="thumb">
                    <img style="transform: none;" class="img-fluid"  src="{% static 'img/d3.jpg' %}" alt=""> <!-- src="img/d3.jpg" -->
                </div>
                <!--table-->
                <div class="progress-table-wrap" style="overflow-x:hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="width: 20%;text-align:left;" class="visit">platter</div>
                            <div style="text-align:left" class="serial">Small</div>
                            <div style="text-align:left" class="serial">large</div>
                        </div>
                        <!-- body -->
                        {% for platter in platters %}
                        <div class="table-row">
                            <div style="width: 20%;text-align:left;" class="visit"> {{ platter.name }}</div>


                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link" data-toggle="modal" data-target="#itemModal" price="{{ platter.price_small }}" size="Small" name="{{ platter.name }}" itemfamily="Dinner Platter" num="{{ forloop.counter0 }}">
                                    {{ platter.price_small }}
                                </button>
                            </div>

                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link" data-toggle="modal" data-target="#itemModal" price="{{ platter.price_large }}" size="Large" name="{{ platter.name }}" itemfamily="Dinner Platter" num="{{ forloop.counter0 }}">
                                    {{ platter.price_large }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end of Dinner -->

            <!-- SUBS -->
            <div class="single-dish" style="width:350px; margin: 5px auto 5px auto; display:inline-block;cursor:default;">
                <h4 style="text-align:left;" class="text-uppercase pt-20 pb-20">Subs</h4>

                <div class="thumb">
                    <img style="transform: none;" class="img-fluid"  src="{% static 'img/sub.jpg' %}" alt=""> <!-- src="img/d3.jpg" -->
                </div>
                <!--table-->
                <div class="progress-table-wrap" style="overflow-x:hidden;">
                    <div class="progress-table" style="padding-left:20px;">
                        <!--head-->
                        <div class="table-head">
                            <div style="text-align:left; width: 20%;" class="visit">Sub</div>
                            <div style="text-align:left" class="serial">Small</div>
                            <div style="text-align:left" class="serial">Large</div>
                        </div>
                        <!--body-->
                        {% for sub in subs %}
                        <div class="table-row">
                            <div style="width: 20%; text-align:left" class="visit"> {{ sub.name }}</div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-sub" data-toggle="modal" data-target="#subModal" price="{{ sub.price_small }}" size="Small" name="{{ sub.name }}" itemfamily="Sub" num="{{ forloop.counter0 }}">
                                    {{ sub.price_small }}
                                </button>
                            </div>
                            <div class="serial">
                                <button style='color: #777;cursor:pointer;' href='' id="link-sub" data-toggle="modal" data-target="#subModal" price="{{ sub.price_large }}" size="Large" name="{{ sub.name }}" itemfamily="Subs" num="{{ forloop.counter0 }}">
                                    {{ sub.price_large }}
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- end of menu -->

        </div>
    </div>
</section>



<!-- MODALS -->

<!-- ITEMS MODAL -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'menu' %}" method="post" id='form1'>
              <ul class='item-description'>
              </ul>
              {% csrf_token %}
              {{ order_form }}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancel</button>

        {% if user.is_authenticated %}
           <button type="submit" form="form1" class="genric-btn primary circle">Add to cart</button>
        {% else %}
           <button type="submit" form="form1" class="genric-btn disable circle" disabled>Log In to add to cart</button>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<!-- PIZZA MODAL -->
<div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pizzaModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form action="{% url 'menu' %}" method="post" id='form1-pizza'>
               <ul class='description-pizza'>
               </ul>
               {% csrf_token %}
               {{ pizza_form }}
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancel</button>

        {% if user.is_authenticated %}
           <button type="submit" form="form1-pizza" class="genric-btn primary circle">Add to cart</button>
        {% else %}
           <button type="submit" form="form1-pizza" class="genric-btn disable circle" disabled>Log In to add to cart</button>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<!-- SUBS MODAL -->
<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
           <form action="{% url 'menu' %}" method="post" id='form1-subs'>
                 <ul class='description-subs'></ul>
                 {% csrf_token %}
                 {{ sub_form.sub_name }}
                 {{ sub_form.sub_type }}
                 {{ sub_form.sub_size }}
                 {{ sub_form.sub_price }}

                <div id="sublabel1">
                     <label id="label1">Extra cheese (+0.50) </label>
                     {{ sub_form.extra_cheese }}
				</div>

                <div id="sublabel2">
                    <label id="label2">Extra Green Pepper (+0.50) </label>
                    {{ sub_form.extra_green_pepper }}

                </div>

                <div id="sublabel3">
                    <label id="label3">Extra Mushroom (+0.50) </label>
                    {{ sub_form.extra_mushroom }}

                </div>

                <div id="sublabel4">
                    <label id="label4">Extra Onion (+$0.50) </label>
                    {{ sub_form.extra_onion }}

                </div>
                 <!-- {{ sub_form.extra_cheese }} -->
           </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="genric-btn default circle" data-dismiss="modal">Cancel</button>

         {% if user.is_authenticated %}
            <button type="submit" form="form1-subs" class="genric-btn primary circle">Add to cart</button>
         {% else %}
            <button type="submit" form="form1-subs" class="genric-btn disable circle" disabled>Log In to add to cart</button>
         {% endif %}

      </div>
    </div>
  </div>
</div>




<script>
    // for menu items
    // When someone clicks on the price
    document.querySelectorAll('#link').forEach(function(button) {
        button.onclick = function() {

            // Get the form target
            document.querySelector('#form1').reset();
            document.querySelector('#form1-subs').reset();
            document.querySelector('#form1-pizza').reset();


            // Check if an item was already clicked
            // if yes, clear the item list
            if (family != 0) {
                let list = document.querySelector('.item-description');
                list.innerHTML = '';

                document.querySelectorAll(".input").forEach(input => {
                    input.remove();
                });


                // look for pizza toppings selectors and remove them
                document.querySelectorAll("#selector").forEach(selector => {
                    selector.remove();
                });

            };

            // Get item price and name
            var size = button.attributes.size.value
            var family = button.attributes.itemfamily.value;
            var price = button.attributes.price.value;
            var name = button.attributes.name.value;

            // dev // DEBUG:
            console.log(family)
            console.log(price)
            console.log(name)
            console.log(size)

            // Make a title to the modal window
            document.querySelector('#itemModalLabel').innerHTML =  family;

            // Make list items to add to modal
            let li1 = document.createElement('li');
            li1.innerHTML = name;

            let li2 = document.createElement('li');
            li2.innerHTML = size;

            let li3 = document.createElement('li');
            li3.innerHTML = price;

            // get the input tags
            let input1 = document.querySelector('#id_dish');
            let input2 = document.querySelector('#id_type');
            let input3 = document.querySelector('#id_size');
            let input4 = document.querySelector('#id_price');

            // set input values
            input1.value = name;
            input2.value = family;
            input3.value = price;
            input4.value = size;

            // Select the ul element
            let list = document.querySelector('.item-description');

            // Append and magic happens
            list.appendChild(li1);
            if(family === "Dinner Platter"){
                list.appendChild(li2);
            }
            list.appendChild(li3);

        };
    });


    // The same but now for pizza
    // When someone clicks on the price
    document.querySelectorAll('#link-pizza').forEach(function(button) {
        button.onclick = function() {

            // Get the form target
            document.querySelector('#form1').reset();
            document.querySelector('#form1-subs').reset();
            document.querySelector('#form1-pizza').reset();

            // Check if an item was already clicked
            // if yes, clear the item list and selectors
            if (family != 0) {
                let list = document.querySelector('.description-pizza');
                list.innerHTML = '';

                // look for pizza toppings selectors and remove them
                document.querySelectorAll("#selector").forEach(selector => {
                    selector.remove();
                });
                // clear input tags if the user changes menu item
                document.querySelectorAll(".input").forEach(input => {
                    input.remove();
                });

                document.querySelector('#id_pizza_topping_1').style.visibility = "visible";
                document.querySelector('#id_pizza_topping_2').style.visibility = "visible";
                document.querySelector('#id_pizza_topping_3').style.visibility = "visible";
                document.querySelector('#id_pizza_topping_4').style.visibility = "visible";

                document.querySelector('[for=id_pizza_topping_1]').style.visibility = "visible";
                document.querySelector('[for=id_pizza_topping_2]').style.visibility = "visible";
                document.querySelector('[for=id_pizza_topping_3]').style.visibility = "visible";
                document.querySelector('[for=id_pizza_topping_4]').style.visibility = "visible";

            }

            // Get item price and name
            var size = button.attributes.size.value
            var family = button.attributes.itemfamily.value;
            var price = button.attributes.price.value;
            var name = button.attributes.name.value;

            console.log(family)
            console.log(price)
            console.log(name)
            console.log(size)

            // Get the form target
            //var form = document.querySelector('#form1-pizza')

            // counter for toppings
            var loop = button.attributes.num.value;
            var numberOfLoops = parseInt(loop)
            console.log(numberOfLoops)

            // Make a title to the modal window
            document.querySelector('#pizzaModalLabel').innerHTML = family;

            // Make list items to add to modal
            let listItem1 = document.createElement('li');
            let listItem2 = document.createElement('li');
            let listItem3 = document.createElement('li');

            // add the dish info to the list items
            listItem1.innerHTML =  name;
            listItem2.innerHTML = size;
            listItem3.innerHTML = price;

            // Select the ul element
            let list = document.querySelector('.description-pizza');

            // Append dish info to the list
            list.appendChild(listItem1);
            list.appendChild(listItem2);
            list.appendChild(listItem3);

            // get the input tags
            let input1 = document.querySelector('#id_pizza_dish');
            let input2 = document.querySelector('#id_pizza_type');
            let input3 = document.querySelector('#id_pizza_size');
            let input4 = document.querySelector('#id_pizza_price');
            let input5 = document.querySelector('#id_num_of_topings');


            // fill them
            input1.value = name;
            input2.value = family;
            input3.value = size;
            input4.value = price;
            input5.value = numberOfLoops;

            // Hide extra selectors
            if (numberOfLoops == 0){
                document.querySelector('#id_pizza_topping_1').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_1]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_2').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_2]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_3').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_3]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_4').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_4]').style.visibility = "hidden";

            } else if (numberOfLoops == 1){
                document.querySelector('#id_pizza_topping_2').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_2]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_3').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_3]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_4').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_4]').style.visibility = "hidden";

            } else if (numberOfLoops == 2){
                document.querySelector('#id_pizza_topping_3').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_3]').style.visibility = "hidden";

                document.querySelector('#id_pizza_topping_4').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_4]').style.visibility = "hidden";

            } else if (numberOfLoops == 3){
                document.querySelector('#id_pizza_topping_4').style.visibility = "hidden";
                document.querySelector('[for=id_pizza_topping_4]').style.visibility = "hidden";


            }
        };
    });




    // The same but now for subs
    // When someone clicks on the price
    document.querySelectorAll('#link-sub').forEach(function(button) {
        button.onclick = function() {

            // Get the form target
            document.querySelector('#form1').reset();
            document.querySelector('#form1-subs').reset();
            document.querySelector('#form1-pizza').reset();


            // Check if an item was already clicked
            // if yes, clear the item list and selectors
            if (family != 0) {
                let list = document.querySelector('.description-subs');
                list.innerHTML = '';

                document.querySelector('#sublabel1').style.visibility = "visible";
                document.querySelector('#sublabel2').style.visibility = "visible";
                document.querySelector('#sublabel3').style.visibility = "visible";
                document.querySelector('#sublabel4').style.visibility = "visible";

                //document.querySelector('#id_extra_mushroom').style.visibility = "hidden";
                //document.querySelector('#id_extra_onion').style.visibility = "hidden";

                document.querySelector('#id_extra_green_pepper').style.visibility = "visible";
                document.querySelector('#label2').style.visibility = "visible";

                document.querySelector('#id_extra_mushroom').style.visibility = "visible";
                document.querySelector('#label3').style.visibility = "visible";

                document.querySelector('#id_extra_onion').style.visibility = "visible";
                document.querySelector('#label4').style.visibility = "visible";

            }

            // Get item price and name
            var size = button.attributes.size.value
            var family = button.attributes.itemfamily.value;
            var price = button.attributes.price.value;
            var name = button.attributes.name.value;

            // Make a title to the modal window
            document.querySelector('#subModalLabel').innerHTML =  family;

            // Make list items to add to modal
            let listItem1 = document.createElement('li');
            let listItem2 = document.createElement('li');
            let listItem3 = document.createElement('li');

            // add the dish info to the list items
            listItem1.innerHTML = name;
            listItem2.innerHTML = size;
            listItem3.innerHTML = price;

            // Select the ul element
            let list = document.querySelector('.description-subs');

            // Append and magic happens
            list.appendChild(listItem1);
            list.appendChild(listItem2);
            list.appendChild(listItem3);
            //list.appendChild(separator);

            // Make list items to add to modal
            let input1 = document.querySelector('#id_sub_name');
            let input2 = document.querySelector('#id_sub_type');
            let input3 = document.querySelector('#id_sub_size');
            let input4 = document.querySelector('#id_sub_price');

            // add name and price to list
            input1.value = name;
            input2.value = family;
            input3.value = size;
            input4.value = price;

            //
            //let input5 = document.querySelector('#id_extra_cheese');
            //let input6 = document.querySelector('#id_extra_green_pepper');
            //let input7 = document.querySelector('#id_extra_mushroom');
            //let input8 = document.querySelector('#id_extra_onion');


            if(name === "Steak + Cheese"){
                document.querySelector('#id_extra_cheese').style.visibility = "visible";
                document.querySelector('#label1]').style.visibility = "visible";

                document.querySelector('#id_extra_green_pepper').style.visibility = "visible";
                document.querySelector('#label2').style.visibility = "visible";

                document.querySelector('#id_extra_mushroom').style.visibility = "visible";
                document.querySelector('#label3').style.visibility = "visible";

                document.querySelector('#id_extra_onion').style.visibility = "visible";
                document.querySelector('#label4').style.visibility = "visible";

            } else {
                document.querySelector('#id_extra_green_pepper').style.visibility = "hidden";
                document.querySelector('#label2').style.visibility = "hidden";

                document.querySelector('#id_extra_mushroom').style.visibility = "hidden";
                document.querySelector('#label3').style.visibility = "hidden";

                document.querySelector('#id_extra_onion').style.visibility = "hidden";
                document.querySelector('#label4').style.visibility = "hidden";
            }

        }

    });

</script>



<style>

    #id_sub_name, #id_sub_type, #id_sub_size, #id_sub_price,#id_type, #id_dish, #id_size, #id_price, #id_pizza_dish, #id_pizza_size, #id_pizza_price, #id_pizza_type, #id_num_of_topings {
        position: absolute;
        left: -999em;
        visibility: hidden;
        height: 0px;
        margin:0px;
        padding:0px;
        font-size:0;
        line-height:0;
        border-radius: 0px;

    }
    [for=id_sub_name], [for=id_sub_type], [for=id_sub_size], [for=id_type], [for=id_dish], [for=id_size], [for=id_price], [for=id_pizza_dish], [for=id_pizza_size], [for=id_pizza_price], [for=id_pizza_type], [for=id_num_of_topings], .errorlist{
        position: absolute;
        left: -999em;
        visibility: hidden;
        height: 0px;
        margin:0px;
        padding:0px;
        font-size:0;
        line-height:0;
        border-radius: 0px;
    }

    #link, #link-pizza, #link-sub {
        background: none!important;
        border: none;
        padding: 0!important;
    }

    .alert{
        padding: 20px;
        background-color: limegreen;
        color: white;
        position: fixed;
        right:0;
        top:50px;
        margin:20px;
        float: right;
        transition: opacity 0.6s;
        overflow: hidden;
        -webkit-animation: cssAnimation 5s forwards;
        animation: cssAnimation 5s forwards;
    }

    @keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }
    @-webkit-keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }


/* The close button */
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
      color: black;
    }
</style>


{% endblock %}
