{% extends "layout.html" %}

{% block title %}: Log In {% endblock %}
{% block body %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12" style= "width: 50%; margin: 0 auto;">

                <!-- LOGIN FORM AREA -->
                <div class=' mx-auto w-50 p-3' style="background-color: white; border-radius: 10px;">
                    {% if message %}
                        <div class='text-center'>
                            {{message}}
                        </div>
                    {% endif %}
                    <form class='m-5' action="{% url 'login' %}" method="POST" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="genric-btn primary circle">Log In</button>
                    </form>
                    <div class='text-center m-2'>
                        No account yet? <a href="{% url 'register'%}">Create one</a>!
                        <br>
                        Forgot your <a href="{% url 'password_reset'%}">password</a>?


                    </div>
                </div>

                <!-- END OF LOGIN FORM -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->




{% endblock %}
