{% extends "layout.html" %}

{% block title %}: Set new password {% endblock %}
{% block body %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12" style= "width: 50%; margin: 0 auto;">

                <!-- LOGIN FORM AREA -->
                {% if validlink %}


                <div class=' mx-auto w-50 p-3' style="background-color: white; border-radius: 10px;">

                    <h2>Set new password:</h2>
                    <form class='m-5' method="POST" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="genric-btn primary circle">Change password</button>
                    </form>

                </div>

                {% else %}

                <div class=' mx-auto w-50 p-3' style="background-color: white; border-radius: 10px;">
                    <h2>Set new password:</h2>
                    <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>
                </div>


                {% endif %}
                <!-- END OF LOGIN FORM -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->




{% endblock %}
