{% extends "layout.html" %}

{% block title %}: Change Password {% endblock %}
{% block body %}

<style>
    .auth-form-box {
        background-color: white;
        border-radius: 10px;
    }
    .auth-form {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .auth-links {
        padding-bottom: 30px;
    }
    .banner-content {
        margin: auto;
    }
    input {
        width: -moz-available;
    }
    label {
        margin-top: 15px;
    }

    @media only screen and (max-width: 600px) {
        .mx-auto {
            width: 100% !important;
        }
    }
</style>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">

                <div class='mx-auto w-50 p-0 auth-form-box'>
                    <form class='auth-form m-5' method="POST">
                        {% csrf_token %}
                        <h4>Change your password</h4>
                        <p>Please enter your old password, then choose a new one.</p>
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="genric-btn primary circle">Change Password</button>
                    </form>
                    <div class='text-center m-2 auth-links'>
                        <a href="{% url 'index' %}">Back to Home</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

{% endblock %}
