{% extends "layout.html" %}

{% block title %}: Email sent! {% endblock %}
{% block body %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12" style= "width: 50%; margin: 0 auto;">

                <!-- LOGIN FORM AREA -->




                <div class=' mx-auto w-50 p-3' style="background-color: white; border-radius: 10px;">
                    <h2>Email sent!</h2>
                    <br>
                    <p>We've emailed you instructions for resetting your password.</p>



                </div>

                <!-- END OF LOGIN FORM -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->




{% endblock %}
