{% extends "layout.html" %}

{% block title %}: Password reset complete {% endblock %}
{% block body %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12" style= "width: 50%; margin: 0 auto;">

                <!-- LOGIN FORM AREA -->


                <div class=' mx-auto w-50 p-3' style="background-color: white; border-radius: 10px;">
                    <h2>Password reset complete</h2>
                    <br>
                    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>


                <!-- END OF LOGIN FORM -->

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->




{% endblock %}
