{% extends "layout.html" %}

{% block title %}: Email sent! {% endblock %}
{% block body %}

<style>
    .auth-form-box {
        background-color: white;
        border-radius: 10px;
    }
    .auth-msg {
        padding: 40px;
    }
    .banner-content {
        margin: auto;
    }

    @media only screen and (max-width: 600px) {
        .mx-auto {
            width: 100% !important;
        }
    }
</style>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">

                <div class='mx-auto w-50 p-0 auth-form-box'>
                    <div class="auth-msg">
                        <h4>Email sent!</h4>
                        <br>
                        <p>We've emailed you instructions for resetting your password.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

{% endblock %}
